.home{
    max-width: 100vw;
    height: 640px;
    background-color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;

    &-title{
        color: var(--light);
        position: absolute;
        z-index: 1000;
        font-size: 8rem;
        text-shadow: 1px 1px 12px var(--background);
    }
}

@media screen and (max-width: 600px){
    .home{
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='440' height='360' preserveAspectRatio='none' viewBox='0 0 440 360'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1108%26quot%3b)' fill='none'%3e%3cg transform='translate(0%2c 0)' stroke-linecap='round' stroke='url(%23SvgjsLinearGradient1109)'%3e%3cpath d='M84 133.13 L84 226.87' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M101 121.8 L101 238.2' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M118 161.6 L118 198.4' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M135 142.13 L135 217.88' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M152 120.68 L152 239.32' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M169 112.56 L169 247.44' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M186 76.08 L186 283.92' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M203 131.51 L203 228.49' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M220 126.33 L220 233.68' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M237 104.5 L237 255.5' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M254 73.86 L254 286.14' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M271 130.45 L271 229.55' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M288 143.46 L288 216.54' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M305 120.89 L305 239.11' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M322 87.18 L322 272.82' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M339 150.04 L339 209.96' stroke-width='12.75'%3e%3c/path%3e%3cpath d='M356 95.66 L356 264.35' stroke-width='12.75'%3e%3c/path%3e%3c/g%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1108'%3e%3crect width='440' height='360' fill='white'%3e%3c/rect%3e%3c/mask%3e%3clinearGradient x1='74.80000000000001' y1='180' x2='365.2' y2='180' gradientUnits='userSpaceOnUse' id='SvgjsLinearGradient1109'%3e%3cstop stop-color='rgba(58%2c 124%2c 195%2c 1)' offset='0.13'%3e%3c/stop%3e%3cstop stop-color='rgba(255%2c 138%2c 0%2c 1)' offset='1'%3e%3c/stop%3e%3c/linearGradient%3e%3c/defs%3e%3c/svg%3e");
        background-repeat: no-repeat;
        background-position: center;

        &-title{
            font-size: 2rem;
            text-shadow: 1px 1px 12px var(--background);
        }
    }
}