.footer{
    max-width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    background-color: var(--background);


    &-copyright{
        text-align: center;
        color: var(--light);
        align-self: flex-end;
    }
}