.card-button{
    background: var(--primary);
    border: none;
    color: var(--background);

    &:hover{
        color: var(--light);
        background-color: var(--background);
    }

    &:active{
        background-color: black !important;
    }
}