@import "~bootstrap/scss/bootstrap";
@import "./Home/Home.scss";
@import "./Components/Navbar/navbar.scss";
@import "./Components/Cards/cards.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}