@import "~bootstrap/scss/bootstrap";
@import "./Sections/Home/Home.scss";
@import "./Sections/Body/Body.scss";
@import "./Sections/Projects/Projects.scss";
@import "./Sections/Contact/Contact.scss";
@import "./Sections/Footer/Footer.scss";
@import "./Components/Navbar/navbar.scss";
@import "./Components/Cards/cards.scss";
@import "./Components/SoundWave/soundwave.scss";
@import "./Components/Swiper/swiper.scss";

:root{
    --background: #051321;
    --light: #fff;
    --primary: #ff8a00;
    --secondary: #3b7dc4;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
